.navbar {
  margin: 5rem 0rem;
}

.navbar-item {
  padding: 0rem;
  margin: 0rem 2rem;
  position: relative;
}

a.navbar-item, a.navbar-item:hover, a.navbar-item:active, a.navbar-item.is-active {
  background-color: transparent;
  color: $text;
}

.navbar-item-hover {
  position: absolute;
  bottom: 50%;
  right: 30%;
  width: 120%;
  height: 50%;
  background-color: $yellow;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.2s ease-in-out;
}

// To select "active" page (current page)
.is-active .navbar-item-hover {
  opacity: 1;
}

// For the hover animation
.navbar-item:hover .navbar-item-hover {
  opacity: 1;
}