.title {
  font-weight: 400;
}

body {
  font-size: 1.5rem;
}

.title.is-1 {
  margin-bottom: 2rem;
}

.subtitle.is-4 {
  margin-bottom: 3rem;
}

p {
  margin: 2rem 0rem;
}

a:hover {
  color: $blue;
}

.body-content {
  padding: 0rem 2rem;
  margin-bottom: 10rem;
}

blockquote {
  padding-left: 30px;
  border-left: 3px solid $blockquote;
}